.base {
  border: 1px solid black;
  border-radius: 0.4rem;
  max-width: 28.8rem;
  width: 100%;
  padding: 0.8rem;
  font-size: var(--body-large-size);
  font-weight: var(--body-large-weight);
}

.outlined {
  background-color: white;
}

.filled {
  background-color: black;
  color: white;
}

.base:hover {
  transition: background-color 0.2s;
}

.outlined:hover {
  background-color: black;
  color: white;
}

.filled:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .base {
    font-size: var(--body-small-size);
    font-weight: var(--body-small-weight);
    max-width: none;
  }
}
