.list {
  display: flex;
}

/* img wrapper */
.list > div:first-of-type {
  max-width: 20rem;
  max-height: 20rem;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  margin-right: 4rem;
  position: relative;
}

.list img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list a {
  position: absolute;
  color: transparent;
  inset: 0;
}

.list h3 {
  font-size: var(--heading3-size);
  font-weight: var(--heading3-weight);
  margin-bottom: 1.4rem;
}

.list > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-right: 5.2rem;
}

.list .price {
  font-size: var(--heading5-size);
  font-weight: var(--heading5-weight);
}

@media (max-width: 768px) {
  /* img wrapper */
  .list > div:first-of-type {
    max-width: 13.6rem;
    max-height: 13.6rem;
    margin-right: 0.8rem;
  }

  .list > div:nth-of-type(2) {
    flex-direction: column;
    margin-right: 0.1rem;
  }

  .list h3 {
    font-size: var(--body-small-size);
    font-weight: var(--body-small-weight);
    line-height: 1.5;
    margin-bottom: 0.1rem;
  }

  .list .price {
    font-size: var(--body-small-size);
    font-weight: var(--body-small-weight);
  }
}
