.hd nav {
  display: flex;

  justify-content: space-between;
  padding-top: 4rem;
}

.hd nav h1 img {
  height: 3.6rem;
  width: auto;
}

.hd nav > div {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hd nav > div a,
.hd nav > div span {
  display: block;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.hd .active {
  border-bottom: 2px solid black;
}
