.hd nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.hd nav h1 img {
  height: 3rem;
  width: auto;
}

.hd nav > div {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hd nav > div span {
  color: #707070;
}

/* NavLink */
.hd nav > div a {
  display: flex;
  align-items: center;
}

/* icon */
.hd nav > div a i {
  font-size: 2rem;
}

/* user icon */
.hd nav > div a:nth-of-type(6) i {
  font-size: 2.4rem;
}

.hd .active {
  border-bottom: 2px solid black;
}
