.hd nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.2rem;
  padding-top: 4rem;
}

.hd nav h1 img {
  height: 3.6rem;
  width: auto;
}

.hd nav > ul {
  display: flex;
  align-items: center;
}

.hd nav > ul:first-of-type > li {
  width: 10rem;
}
