/* Swiper */
/* swiper buttons */
.swiper > div:nth-of-type(2),
.swiper > div:nth-of-type(3) {
  display: none;
}

/* swiper-slide */
.swiper > div:first-of-type > div {
  position: relative;
  aspect-ratio: 624 / 323;
  border-radius: 1.6rem;
  overflow: hidden;
}

.slideContent {
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
  text-align: left;
  color: var(--light-white-light);
}

.slideContent h1 {
  margin-bottom: 1.6rem;
}

.slideContent button {
  margin-top: 4.8rem;
}

.shopSection {
  margin-top: 6.4rem;
}

.shopSection > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopSection > div:first-of-type h4 {
  color: var(--light-accent-light);
}
