.mainButton {
  font-size: var(--heading3-size);
  font-weight: 700;
  color: white;
  border: 2px solid white;
  border-radius: 0.8rem;
  padding: 1rem 3rem;
}

.mainButton:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .mainButton {
    font-size: var(--body-small-size);
    font-weight: 400;
    padding: 1rem 1.2rem;
  }
}
