.loading {
  aspect-ratio: 624 / 323;
  border-radius: 1.6rem;
  width: 100%;
}

/* shop section */
.shopSection {
  margin-top: 6.4rem;
}

.shopSection h2 {
  font-size: var(--heading1-size);
  font-weight: var(--heading1-weight);
}

.shopSection > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

/* 상품 리스트 */
.shopSection > div:last-of-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5.6rem;
  column-gap: 8.6rem;
}

@media (max-width: 768px) {
  .loading {
    aspect-ratio: unset;
    height: 30rem;
    border-radius: 0.8rem;
  }

  /* shop section */
  .shopSection {
    margin-top: 2rem;
  }

  .shopSection h2 {
    font-size: var(--heading5-size);
    font-weight: var(--heading5-weight);
  }

  .shopSection > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.4rem;
  }

  /* 상품 리스트 */
  .shopSection > div:last-of-type {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.6rem;
    column-gap: 2.4rem;
  }
}
