.tabSection {
  margin-bottom: 9.6rem;
}

.similarSection h2 {
  font-size: var(--heading2-size);
  font-weight: var(--heading2-weight);
  line-height: var(--heading2-line-height);
  margin-bottom: 4.6rem;
}

@media (max-width: 768px) {
  .tabSection {
    margin-bottom: 2rem;
  }

  .similarSection h2 {
    font-size: var(--heading5-size);
    font-weight: var(--heading5-weight);
    line-height: var(--heading5-line-height);
    margin-bottom: 1.4rem;
  }
}
