/* swiper-slide */
.similarSwiper > div:first-of-type > div {
  background-color: transparent;
}

/* swiper butons */
.similarSwiper > div:nth-of-type(2),
.similarSwiper > div:last-of-type {
  color: var(--light-accent);
  transform: translateY(-5rem);
}

.similarSwiper > div:nth-of-type(2)::after,
.similarSwiper > div:last-of-type::after {
  font-size: 2.4rem;
}

/* ProductCard */
.prodCard {
  width: 100%;
  text-align: left;
}

@media (max-width: 768px) {
  .similarSwiper {
    width: calc(100% + 40px);
    transform: translateX(-20px);
  }
}
