.tablist {
  display: flex;
  align-items: center;
  gap: 8.6rem;
  width: 100%;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 4.2rem;
}

.tablist button {
  font-size: var(--heading3-size);
  font-weight: var(--heading3-weight);
  line-height: var(--heading3-line-height);
  color: var(--light-dark-gray);
  padding-bottom: 3.4rem;
  border-bottom: 1px solid transparent;
}

.tablist button.active {
  color: black;
  border-bottom: 1px solid;
}

.tabPanel {
  display: none;
  font-size: var(--heading5-size);
  font-weight: var(--heading5-weight);
  line-height: var(--heading5-line-height);
  color: var(--light-dark-gray);
}

.tabPanel.active {
  display: block;
}

@media (max-width: 768px) {
  .tablist {
    flex-direction: column;
    align-items: start;
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    padding: 1.6rem 0;
    gap: 0;
    margin-bottom: 0;
  }

  .tablist button {
    font-size: var(--body-small-size);
    font-weight: var(--body-small-weight);
    line-height: 1.2;
    color: black;
    padding: 0.8rem 0;
    border-bottom: none;
  }

  .tablist button.active {
    border-bottom: none;
  }

  .tabPanel.active {
    display: none;
  }
}
